/* CSS Document */
body {
text-align: left;
color: #666;
font-family: "Î¢ÈíÑÅºÚ","Arial Black", Gadget, sans-serif;
background-color:#f4f4f4;
}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
margin: 0;
padding: 0;
}

ul, li {
list-style: none;
margin:0px;
padding:0px;
}
ul{
display:block;
}
img {
border: 0;
margin: 0;
padding: 0;
}
a{
color:#535353;
background-color:#FFFFFF;
text-decoration:none;
}
.body_header{
width: 100%;
height: 35px;
line-height:35px;
background:#333333;
text-align:center;
font-size:20px;
color:#FFFFFF;
}
.body_header p{
position:relative;
right:20px;
}
.goback{
display:block;
float:left;
margin: 0;
padding: 0;
border:none;
width:40px;
height:25px;
background: url(../images/goback.png) #333333;
background-size:100%;
}
.tips{
width:100%;
height:20px;
background:#000000;
opacity:0.5;
font-size:12px;
line-height:20px;
text-align:center;
color:#FFFFFF;
}
.dishes{
position:relative;
background:#fff;
color:#666666;
font-size:16px;
height:30px;
line-height:30px;
width:100%;
border-bottom:1px solid #e5e5e5;
}
.dishes .lt{
position:relative;
font-weight:bold;
width:auto;
text-overflow:ellipsis;
overflow:hidden;
margin-left:10px;
}
.dishes .rt{
bottom:0px;
position:absolute;
right:10px;
width:auto;
}
.dishes .rt input{
position:relative;
top:4px;
float:left;
width:20px;
height:20px;
font-size:18px;
border:none;
border-radius:10px;
text-align:center;
color:#FFFFFF;
background:#fff;
}
.dishes .rt .minus{
background:#FF0000;
}
.dishes .rt .add{
background:#00FF00;
}
.dishes .rt .result{
border:none;
color:#999999;
}
.dishes .rt .pr{
float:left;
display:block;
}
.pay-top{
margin-top:10px;
}
.radio-pay{
position:absolute;
right:10px;
top:10px;
}
.pay{
position:relative;
background:#FFFFFF;
color:#666666;
font-size:16px;
height:30px;
line-height:30px;
width:100%;
border-bottom:1px solid #e5e5e5;
}
.label-pay{
margin-left:10px;
}
.dishes-2{
margin-top:10px;
}
.account, .give-back{
margin-left:10px;
}
.amount{
position:relative;
color:#FF6600;
}
.amount .amount-lt{
margin-left:10px;
font-weight:bold;
font-size:20px;
}
.amount .amount-rt{
position:absolute;
right:10px;
top:5px;
}
.zhuohao{
border:none;
}
.submit{
text-align:center;
}
.input-2{
		width: 80%;
		font-size:16px;
		font-weight:bold;
            padding: 15px;
			border: 1px solid #02c15a;
            margin: 25px AUTO;
			background:#02C15A;
			color:#FFFFFF;
            box-sizing: border-box;
            border-radius: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -webkit-border-radius: 5px;
			}

