BODY {
	 MARGIN: 0px; OVERFLOW: hidden
}
IMG {
	FLOAT: none; VERTICAL-ALIGN: middle
}
HR {
	BORDER-TOP: #46a0c8 1px solid; WIDTH: 90%; HEIGHT: 0px; TEXT-ALIGN: left; size: 0
}
.alpha {
	FILTER: alpha(opacity=40);
	background-color: #FFF;
}
.menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FILTER: alpha(opacity=100); PADDING-BOTTOM: 10px; COLOR: #fff; PADDING-TOP: 10px; POSITION: relative
}
.menu UL {
	LIST-STYLE-TYPE: none
}
.menu LI {
	FLOAT: left; LIST-STYLE-TYPE: none
}
.copyright {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; COLOR: #e1feff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; HEIGHT: 24px
}
.copyright2 {
	PADDING-LEFT: 30px; FONT-SIZE: 12px; COLOR: #e1feff; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; HEIGHT: 24px
}
.copyright A {
	COLOR: #e1feff; TEXT-DECORATION: none
}
.copyright2 A {
	COLOR: #e1feff; TEXT-DECORATION: none
}
.copyright A:hover {
	COLOR: #e1feff; TEXT-DECORATION: underline
}
.copyright2 A:hover {
	COLOR: #e1feff; TEXT-DECORATION: underline
}
#menubar {
	
}
#menubar UL {
	MARGIN: 0px
}
#menubar UL LI {
	FLOAT: left; MARGIN-LEFT: 0px
}
#menubar A {
	DISPLAY: block;
	PADDING-LEFT: 20px;
	FONT-SIZE: 12px;
	BACKGROUND: url(../images/menu_icon2.gif) no-repeat;
	FLOAT: left;
	MARGIN: 0px;
	WIDTH: 180px;
	COLOR: #999;
	PADDING-TOP: 5px;
	HEIGHT: 24px;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}
#menubar A:hover {
	BORDER-RIGHT: #fff 1px solid;
	BORDER-TOP: #fff 1px solid;
	DISPLAY: block;
	PADDING-LEFT: 20px;
	FONT-SIZE: 12px;
	BACKGROUND: url(../images/menu_icon.gif)  no-repeat;
	FILTER: alpha(opacity=60);
	FLOAT: left;
	MARGIN: 0px;
	BORDER-LEFT: #fff 1px solid;
	WIDTH: 180px;
	COLOR: #000;
	PADDING-TOP: 4px;
	BORDER-BOTTOM: #fff 1px solid;
	HEIGHT: 22px;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}
